@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
 <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <div class="area">Top 10 movies</div>
<h4>
  <em>C</em>
  <em class="planet left">O</em>
  <em>S</em>
  <em>M</em>
  <em class="planet right">O</em>
  <em class="area">S</em>
</h4>
</div>
